.ClassEditor {
    height: 100%;
    width: 400px;
    background-color: #f6f6f6;
    border: 1px;
    padding: 5px;
    box-sizing: border-box;
    max-height: 75vh;
    overflow-y: scroll;
}

.Table {
    border: 1px;
    background-color: red;
}

.Buttons {
    display: flex;
    width: 100%;
    gap: 5px;
    margin: 0;
}

.Buttons button {
    flex-grow: 1;
}
.Add:hover {
    background-color: chartreuse;
}
.Delete:hover {
    background-color: salmon;
}