.RqmToolbarItem:hover {
    cursor: pointer;
    background: #eee;
}

.RqmToolbarItem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;
}